.places {
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #2A2C2F;
  max-width: 984px;
  margin: 92px 148px;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
  margin-right: 48px;
  margin-left: 48px;
  }
}

@media screen and (max-width: 767px) {
  .places {
  row-gap: 73px;
  margin: 88px 24px 90px;
  }
}

@media screen and (max-width: 320px) {
  .places {
  margin: 64px 0 0;
  row-gap: 50px;
  }
}