.cover__subtitle {
  max-width: 360px;
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 32px 0 0;
  color: #FFFFFF;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    width: 90%;
    margin-top: 32px;
    font-size: 14px;
    line-height: 114%;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    width: 90%;
    margin-top: 16px;
    font-size: 4.3vw;
    line-height: 114%;
    padding: 0;
  }
}